@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: light;
  font-weight: 300;
  src: url('/fonts/Satoshi-Light.woff') format('woff');
}


@font-face {
  font-family: 'Satoshi';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/Satoshi-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: black;
  font-weight: 900;
  src: url('/fonts/Satoshi-Black.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: variable;
  font-weight: 400;
  src: url('/fonts/Satoshi-Variable.woff') format('woff');
}
