@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 300;
  src: url('/public/fonts/Satoshi-Light.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  src: url('/public/fonts/Satoshi-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/Satoshi-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  src: url('/public/fonts/Satoshi-Black.woff') format('woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/Satoshi-Variable.woff') format('woff');
}
